src/*.o
src/*.so
src/*.dll
src/*.suo
src/*.ncb
src/Debug*/
src/Release*/
src/*.sdf
src/*.user
src/*.filters
src/config.log
src/config.status
src/src/Makefile.dl
src/src/Makefile.dl32
src/src/Makefile.vm
src/qtv.bin
src/qtv.db
src/*.vc.db
